
 @model BankDashboardViewModel
 @inject IViewLocalizer Localizer
<h1>@Localizer["WelcomeMessage"]</h1>

<div class="container">
    <div class="row">
        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">@Localizer["Total Branches"]</h5>
                    <p class="card-text">@Model.TotalBranches</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">@Localizer["Total Employees"]</h5>
                    <p class="card-text">@Model.TotalEmployees</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">@Localizer["Branch with Most Employees"]</h5>
                    @if (Model.BranchWithMostEmployees != null)
                    {
                        <p class="card-text">@Model.BranchWithMostEmployees.Name - @Model.BranchWithMostEmployees.EmployeeCount Employees</p>
                    }
                    else
                    {
                        <p class="card-text">No branches found.</p>
                    }
                </div>
            </div>
        </div>
    </div>

    <div class="row mt-4">
        <div class="col-md-12">
            <table class="table">
                <thead>
                    <tr>
                        <th>@Localizer["Name"]</th>
                        <th>@Localizer["Location URL"]</th>
                        <th>@Localizer["Location Name"]</th>
                        <th>@Localizer["Branch Manager"]</th>
                        <th>@Localizer["Employee Count"]</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var branch in Model.BranchList)
                    {
                        <tr>
                            <td><a href="@Url.Action("Details", "Bank", new {id = branch.Id})">@branch.Name</a></td>
                            <td><a href="@branch.LocationURL">@branch.LocationURL</a></td>
                            <td>@branch.LocationName</td>
                            <td>@branch.BranchManager</td>
                            <td>@branch.EmployeeCount</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>